:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --dekor-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --text-color: #353430;
  --text-size: 18px;
  --bold-font-weight: 700;
}

:root.theme-light .header__rec {
  display: none;
}

:root.theme-light .header__theme-menu-button:hover {
  --dekor-color: rgba(53, 52, 48, 0.4);
}

:root.theme-light .section__title {
  --accent-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #f1b2ce;
    --dekor-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --text-color: #353430;
    --text-size: 18px;
    --bold-font-weight: 700;
  }

  .header__rec {
    display: none;
  }

  .header__theme-menu-button:hover {
    --dekor-color: rgba(53, 52, 48, 0.4);
  }
}
